<!DOCTYPE html>
 <!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <!-- BASICS -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Login</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="isotope.css" media="screen" />
  <link rel="stylesheet" href="bootstrap.css">
  <link rel="stylesheet" href="bootstrap-theme.css">
  <link rel="stylesheet" href="home.css">
  <!-- skin -->
  <link rel="stylesheet" href="default.css">
  <link rel="shortcut icon" href="favicon.ico">
</head>

<body>
  <section id="header" class="appear"></section>
  <div class="navbar navbar-fixed-top" role="navigation">
    <div class="container">
      
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav" data-0="margin-top:20px;" data-300="margin-top:5px;">
          <li><a href="home.html">Home</a></li>
          <li><a href="home.html">Search for Housing</a></li>
          <li class="active"><a href="user-login.html">Register/Log In</a></li>
        </ul>
      </div>
    </div>
  </div>

  <section class="featured">
    <div class="container">
      <div class="row mar-bot40">
        <div class="col-md-6 col-md-offset-3">

          <div class="align-center">
            <h2 class="slogan">Welcome to Illini Housing</h2>
            <p>
              Find the best and most affordable housing for you and your friends with a customized search based off your major, desired pricing, and amenities!
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- services -->
  <section id="section-services" class="section pad-bot30 bg-white">
    <div class="row mar-bot40">
        <div class="col-md-6 col-md-offset-3">
			<div class = "align-center">
			<form id="form-login" action="user-login.html">
				<h1>Register</h1>
				<p>Please fill in this form to create an account.</p>
				<div class="align-center">
				<br>
				<label for="email" class="col-md-2 control-label"><b>Email</b></label>
				<input type="text" class="form-control" placeholder="Enter Email" name="email" required>
				<br>
				<label for="psw" class="col-md-2 control-label"><b>Password</b></label>
				<input type="password" class="form-control" placeholder="Enter Password" name="psw" required>
				<br>
				<label for="major" class="col-md-2 control-label"><b>Major</b></label>
				<input type="text"  class="form-control" placeholder="Enter Major" name="major" required>
				<br>
				<label for="numbeds" class="col-md-2 control-label"><b>Beds</b></label>
				<input type="text" class="form-control" placeholder="Enter number of beds" name="numBeds" required>
				<br>
				<label for="numbeds" class="col-md-2 control-label"><b>Baths</b></label>
				<input type="text" class="form-control" placeholder="Enter number of baths" name="numBaths" required>
				<br>
				<label for="groupNum" class="col-md-2 control-label"><b>Group Number</b></label>
				<input type="text" class="form-control" placeholder="Enter group number" name="groupNum" required>
				<br>
				
				<button type="submit" id="button-submit" class="align-center">Submit</button>
			</form>
			</div>
			<br>
			<div class="align-center">
				Already have an account? <a href="user-login.html"> Sign in! </a>
			</div>
	     </div>
        </div>
			
	</div>
		
  </section>

  <!-- about -->
  <section id="testimonials" class="section" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row">
	  <h1 class = "align-center" style="color: white"> Our Mission </h1>
        <div class="col-lg-12">
          <div class="align-center">
            <div class="testimonial pad-top40 pad-bot40 clearfix">
				<h5> We all know that one of the most stressful things for students is deciding where to live in the coming school year. With multiple factors such as price, amenities, and location, trying to accomodate for everyone living together can be very tough. That's why Illini Housing Finder wants to make the process easier. By allowing students to create accounts with their preferences and create groups with other students, our algorithms take the information that each student enters to find the optimal apartment or university housing option that best suits everyone's needs. Try it today!
				</h5>
              <br/>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- about -->
  <section id="section-about" class="section appear clearfix">
    <div class="container">

      <div class="row mar-bot40">
        <div class="col-md-offset-3 col-md-6">
          <div class="section-header">
            <h2 class="section-heading animated" data-animation="bounceInUp">Our Team</h2>
            <p>Meet the members of the team!</p>
          </div>
        </div>
      </div>

    <div class="row align-center mar-bot40">
		<div class="col-md-3">
          <div class="team-member">
            <figure class="member-photo"><img src="jackie.jpg" alt="" /></figure>
            <div class="team-detail">
              <h4>Jackie</h4>
              Project Manager
            </div>
          </div>
        </div>
		<div class="col-md-3">
          <div class="team-member">
            <figure class="member-photo"><img src="eva.jpeg" alt="" /></figure>
            <div class="team-detail">
              <h4>Eva</h4>
			  Frontend
            </div>
          </div>
        </div>
		<div class="col-md-3">
          <div class="team-member">
            <figure class="member-photo"><img src="tejal.jpeg" alt="" /></figure>
            <div class="team-detail">
              <h4>Tejal</h4>
              Webscraping
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="team-member">
            <figure class="member-photo"><img src="flora.jpeg" alt="" /></figure>
            <div class="team-detail">
              <h4>Flora</h4>
              Backend
            </div>
          </div>
        </div>
	</div>
	<div class="row align-center mar-bot40">
        <div class="col-md-3">
          <div class="team-member">
            <figure class="member-photo"><img src="saket.jpeg" alt="" /></figure>
            <div class="team-detail">
              <h4>Saket</h4>
              Web API
            </div>
          </div>
        </div>
		
		<div class="col-md-3">
          <div class="team-member">
            <figure class="member-photo"><img src="peter.jpg" alt="" /></figure>
            <div class="team-detail">
              <h4>Peter</h4>
              Algorithms
            </div>
          </div>
        </div>
		<div class="col-md-3">
          <div class="team-member">
            <figure class="member-photo"><img width="180px" height="180px" src="pooja.jpg" alt="" /></figure>
            <div class="team-detail">
              <h4>Pooja</h4>
              Backend
            </div>
          </div>
        </div>
		<div class="col-md-3">
          <div class="team-member">
            <figure class="member-photo"><img src="alex.jpg" alt="" /></figure>
            <div class="team-detail">
              <h4>Alex</h4>
              Algorithms
            </div>
          </div>
        </div>
        
      </div>

    </div>
  </section>	
  <!-- /about -->
  </body>

</html>

  
 